<h1>Create EatOut Account</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.page_path(@conn, :home), class: "btn btn-danger" %></span>
