<h1><strong>Review: </strong><%= @conn.query_params["rest_name"] %> </h1>

<%= render "form.html", Map.put(assigns, :action, Routes.review_path(@conn, :create)) %>

<p><%= link "Back", to: Routes.location_path(@conn, :home), class: "btn btn-danger" %></p>
