<h1><%= %></h1>

<table>
  <thead>
  </thead>
  <tbody>

    <%= if @friend do %>
      <%= for friend <- @friends do %>
          <tr>
            <td><%= EatOut.Users.get_user(friend.friendee_id).name %></td>
          </tr>
      <% end %>
    <% else %>
      <h2>User has no friends.</h2>
    <% end %>
  </tbody>
</table>

<span><%= link "Back", to: Routes.location_path(@conn, :home) %></span>
